.main {
  padding: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  &__menu {
    width: 25%;
  }
  &__hub {
    //width: 85%;
    //max-width: 800px;
    //margin: 0 auto;
  }
  &__journalSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    .main__journal {
      padding: 10px 0;
    }
  }
}